@charset "UTF-8";

.search-id {
	width:500px;
	margin-top: 30px;
	padding-left:30px;
	padding-right:30px;
	padding-top:50px;
	background-color: white;
	height: 740px;
	opacity :90%;
	float: left;
	
}
body{
	background-image: url("img/bombom.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	float: right;
}
.name{
	width: 80%;
	margin-left: 10%;
}